*{
    font-family: OCR A Std, monospace;
    text-align: center;
}
header{
    text-align: center;


}

    .link {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkblue; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    border: none;
    font-family: sans-serif;
    transition: background-color 0.3s; 
}
.link:hover {
    background-color: #0056b3;
}


   
